.game-result-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/quiz-game-congrats-card-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8fafc;
  height: 85vh;
  width: 90%;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}

.won-image {
  height: 144px;
  width: 144px;
}

.greetings-text {
  font-family: 'Roboto';
  color: #334155;
  font-weight: 600;
  font-size: 28px;
}

.result-percentage-text {
  color: #0ea5e9;
  font-family: 'Roboto';
  font-size: 28px;
  margin-top: 0px;
  font-weight: 500;
}

.description {
  font-size: 22px;
  color: #334155;
  font-family: 'Roboto';
  font-weight: 500;
  margin-top: 0px;
}

.result-summary {
  font-family: 'Roboto';
  color: #475569;
  font-size: 16px;
  text-align: center;
  margin-top: 0px;
}

.report-button {
  padding: 8px 20px 8px 20px;
  margin-top: 20px;
  background-color: #0ea5e9;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: #f8fafc;
  font-size: 12px;
}

.game-fail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8fafc;
  height: 85vh;
  width: 90%;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}

.lose-image {
  height: 210px;
}

.lose-heading {
  font-family: 'Roboto';
  font-size: 24px;
  color: #334155;
}

.lose-result {
  color: #0ea5e9;
  font-family: 'Roboto';
  font-size: 22px;
  margin-top: 0px;
  font-weight: 500;
}
